.btn
  padding: 1em 2em
  margin: 1em
  border-radius: 2em
  border: 2px solid $c-amarelo
  background: $c-branco
  text-transform: uppercase
  font-weight: 600
  color: $cTexto
  transition: all .3s ease-in-out


  &:hover
    background: $c-roxoClaro
    border: 1px solid $c-roxoClaro
    color: $c-branco
