.home-servicos
  background: $c-laranja
  padding-top: 4rem
  padding-bottom: 4rem

  h1, h2, h3, p
    color: $c-roxo

  .servico-evento
    background-image: url('../images/img-home-servicos-evento.png')
    background-position: center center
    background-repeat: no-repeat
    background-size: cover
    height: 660px
