.home-main
  z-index: 5
  position: relative
  background: $c-branco
  padding-top: 20px //para ver o parallax func RETIRAR

.home-sobre
  text-align: center

  .icons-sobre > div
    flex: 0 0 50%
    max-width: 50%

    @media screen and (min-width: $width-xs)
      flex: 0 0 33.33333%
      max-width: 33.33333%

    @media screen and (min-width: $width-sm)
      flex: 0 0 20%
      max-width: 20%
  &>div
    cursor: pointer

  div img
  	max-height: 10vh
  	transition: transform .3s ease-in-out

  	&:hover
  		transform: translateY(-5px)


.home-sobre_texto
  p
    margin-bottom: 4rem
